<header class="main-header">
    <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>PEX</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>APEX</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success" id="messages-number"></span>
                    </a>
                    <ul class="dropdown-menu" id="messages-dropdown-menu">
                        <li class="header" id="messages-dropdown-menu-header"></li>
                        <li>
                            <ul class="menu" id="messages-dropdown-menu-content"></ul>
                        </li>
                        <li class="footer"><a href="javascript:;">See All Messages</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning" id="notifications-number"></span>
                    </a>
                    <ul class="dropdown-menu" id="notifications-dropdown-menu">
                        <li class="header" id="notifications-dropdown-menu-header"></li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" id="notifications-dropdown-menu-content"></ul>
                        </li>
                        <li class="footer"><a href="javascript:;">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger" id="tasks-number"></span>
                    </a>
                    <ul class="dropdown-menu" id="tasks-dropdown-menu">
                        <li class="header" id="tasks-dropdown-menu-header"></li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" id="tasks-dropdown-menu-content"></ul>
                        </li>
                        <li class="footer">
                            <a href="javascript:;">View all tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/AdminLTE-2.3.7/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Alexander Pierce</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/AdminLTE-2.3.7/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            <p>
                                Alexander Pierce - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="javascript:;">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="javascript:;">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="javascript:;">Friends</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="javascript:;" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <form asp-controller="authentication" asp-action="signout" asp-anti-forgery="true" method="post" role="form" novalidate>
                                    <button type="submit" class="btn btn-default btn-flat">Sign out</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="javascript:;" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>