@{
    ViewData["Title"] = "Role";

    ViewData["Breadcrumb"] = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", Url.Action("index", "dashboard"), "fa-dashboard"),
        new Crumb("Role", string.Empty, "fa-lock")
    });
}
@section styles {
    <link rel="stylesheet" href="~/assets/styles/admin/dataTables.bootstrap.min.css">
}
@section scripts {
    <script type="text/javascript">
        var resources = {
            roleName: "Role Name",
            normalizedName: "Normalized Name"
        };
    </script>
    <script src="~/assets/scripts/admin/datatables.min.js"></script>
    <script src="~/assets/scripts/admin/role.list.min.js" asp-append-version="true"></script>
}
<div class="box box-solid">
    <div class="box-body">
        <table id="jDataTable" class="table table-hover" width="100%"></table>
    </div>
</div>
