@{
    ViewData["Title"] = "Dashboard";
    ViewData["TitleSmall"] = "Control panel";

    ViewData["Breadcrumb"] = new BreadcrumbViewModel(new CrumbViewModel[] {
        new CrumbViewModel("Dashboard", string.Empty, "fa-tachometer")
    });
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <a class="btn btn-app"><i class="fa fa-refresh"></i> Refresh</a>
                    <a class="btn btn-app"><i class="fa fa-plus"></i> Add</a>
                    <a class="btn btn-app">
                        <span class="badge bg-green">New</span>
                        <i class="fa fa-file-excel-o"></i> Export Excel
                    </a>
                </h3>
            </div>
            <div class="box-body"></div>
            <div class="box-footer"></div>
        </div>
    </div>
</div>
