@{
    Layout = "~/Areas/Admin/Views/Authentication/_AuthenticationLayout.cshtml";
    ViewData["Title"] = "Forgot Password";
}

<p class="login-box-msg">Check your email</p>
<p>We have sent a reset password link to your email.</p>
<p>Please check your email and click on the link in that email to reset your password.</p>
<a asp-controller="authentication" asp-action="signin" class="text-center">I already have a membership</a>
