@{
    Layout = "~/Areas/Admin/Views/Authentication/_AuthenticationLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<p class="login-box-msg">Reset Password Failed</p>
<p>We could not reset your password</p>
<a asp-controller="authentication" asp-action="signin" class="text-center">I already have a membership</a>
