@{
    Layout = "~/Areas/Admin/Views/Authentication/_AuthenticationLayout.cshtml";
    ViewData["Title"] = "Reset Password Confirmation";
}

<p class="login-box-msg">Password Reset Successful</p>
<p>Please click <a asp-controller="authentication" asp-action="signin">here</a> to sign in</p>

<a asp-controller="authentication" asp-action="signin" class="text-center">I already have a membership</a>
