@model Apex.Admin.ViewModels.Emails.EmailAccountViewModel
@{
    ViewData["Title"] = "Email Account";
    ViewData["TitleSmall"] = "<a href=\"/admin/emailaccount\"><i class=\"fa fa-arrow-circle-left\"></i> Back to Email Account list</a>";

    string action, iconClass;

    if (Model.Id == 0)
    {
        action = "Create";
        iconClass = "fa-plus";
    }
    else
    {
        action = "Update";
        iconClass = "fa-pencil";
    }

    ViewData["Breadcrumb"] = new BreadcrumbViewModel(new CrumbViewModel[] {
        new CrumbViewModel("Dashboard", Url.Action("index", "dashboard"), "fa-dashboard"),
        new CrumbViewModel("Email Account", Url.Action("index", "emailaccount"), "fa-envelope"),
        new CrumbViewModel(action, string.Empty, iconClass)
    });
}
@section scripts {
    <script src="~/assets/scripts/admin/jquery.val.min.js"></script>
}
<div class="box box-solid">
    <form class="form-horizontal" asp-controller="emailaccount" asp-action="@action.ToLowerInvariant()" asp-anti-forgery="true" method="post" novalidate>
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div asp-validation-summary="@ValidationSummary.ModelOnly" class="text-red"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DisplayName" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="DisplayName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Host" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Host" class="form-control" />
                        <span asp-validation-for="Host" class="text-red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Port" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Port" class="form-control" />
                        <span asp-validation-for="Port" class="text-red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="col-sm-3 control-label">User Name</label>
                    <div class="col-sm-9">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input asp-for="EnableSsl" /> SSL
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input asp-for="UseDefaultCredentials" /> Use Default Credentials
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsDefaultEmailAccount" /> Default Email Account
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-flat btn-primary">
                            <i class="fa @iconClass"></i> @action
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <input asp-for="Id" />
    </form>
</div>
