@{
    ViewData["Title"] = "Email Account";

    ViewData["Breadcrumb"] = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", Url.Action("index", "dashboard"), "fa-dashboard"),
        new Crumb("Email Account", string.Empty, "fa-envelope")
    });
}
@section styles {
    <link rel="stylesheet" href="~/assets/styles/admin/datatables.min.css">
}
@section scripts {
    <script type="text/javascript">
        var resources = {
            email: "Email",
            displayName: "Display Name",
            enableSsl: "EnableSsl",
            useDefaultCredentials: "Use Default Credentials",
            defaultEmailAccount: "Default Email Account",
            host: "Host",
            port: "Port",
            userName: "User Name"
        };
    </script>
    <script src="~/assets/scripts/admin/datatables.min.js" asp-append-version="true"></script>
    <script src="~/assets/scripts/admin/emailAccount.list.min.js" asp-append-version="true"></script>
}
<div class="box box-solid">
    <div class="box-body">
        <table id="jDataTable" class="table table-hover" width="100%"></table>
    </div>
</div>
