@model Apex.Admin.ViewModels.Accounts.AccountUpdateViewModel
@{
    ViewData["Title"] = "User";
    ViewData["TitleSmall"] = "<a href=\"/admin/user\"><i class=\"fa fa-arrow-circle-left\"></i> Back to Account list</a>";

    ViewData["Breadcrumb"] = new BreadcrumbViewModel(new CrumbViewModel[] {
        new CrumbViewModel("Dashboard", Url.Action("index", "dashboard"), "fa-dashboard"),
        new CrumbViewModel("Account", Url.Action("index", "user"), "fa-users"),
        new CrumbViewModel("Update", string.Empty, "fa-pencil")
    });
}
@section styles {
    <link rel="stylesheet" href="~/assets/styles/admin/plugins.min.css">
}
@section scripts {
    <script src="~/assets/scripts/admin/plugins.min.js"></script>
    <script src="~/assets/scripts/admin/jquery.val.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#Roles").select2();
            var drOptions = { startDate: "-100y", endDate: "0d" };
            var drWrapper = new DatePickerWrapper(drOptions, "#birthday-group");
            drWrapper.render();
        });
    </script>
}
<div class="box box-solid">
    <form class="form-horizontal" asp-controller="user" asp-action="update" asp-anti-forgery="true" method="post" novalidate>
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div asp-validation-summary="@ValidationSummary.ModelOnly" class="text-red"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input asp-for="Password" class="form-control" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-flat btn-danger">Change Password</button>
                            </span>
                        </div>
                        <span asp-validation-for="Password" class="text-red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Roles" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="Roles" class="form-control" multiple="multiple" style="width: 100%"
                                asp-items="@Model.AllRoles"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        @foreach (var item in Model.AllGenders)
                        {
                            <div class="radio">
                                <label><input type="radio" asp-for="Gender" value="@item.Value"> @item.Text</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Birthday" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <div class="input-group date" id="birthday-group">
                            <input asp-for="Birthday" asp-format="{0:MM/dd/yyyy}" class="form-control" />
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Address" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Locked" /> Locked
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-flat btn-primary">
                            <i class="fa fa-pencil"></i>&nbsp;Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <input asp-for="Id" />
    </form>
</div>
