@model Apex.Data.Entities.Accounts.Menu;

@foreach (var menu in Model.SubMenus)
{
    <tr>
        <td class="checkbox-control">
            <input value=@menu.Id" type="checkbox" />
        </td>
        <td>
            <span class="menu-level">└──</span> @menu.Title
        </td>
        <td>{menu.Url}</td>
        <td>
            @if (!string.IsNullOrEmpty(menu.Icon))
            {
                <i class="@menu.Icon"></i>
            }
        </td>
        <td>@menu.Note</td>
        <td>
            @if (!string.IsNullOrEmpty(menu.NoteIcon))
            {
                <i class="@menu.NoteIcon"></i>
            }
        </td>
        <td>{menu.Priority}</td>
    </tr>
}
