@{
    Layout = "~/Views/Accounts/_AccountLayout.cshtml";
    ViewData["Title"] = "Confirm Email Error page";
}

<p class="login-box-msg">Confirmation Failed</p>
<p>We could not confirm your account.</p>
<div class="social-auth-links text-center">
    <p>- OR -</p>
    <a href="javascript:;" class="btn btn-block btn-social btn-facebook btn-flat">
        <i class="fa fa-facebook"></i> Sign up using Facebook
    </a>
    <a href="javascript:;" class="btn btn-block btn-social btn-google btn-flat">
        <i class="fa fa-google-plus"></i> Sign up using Google+
    </a>
</div>
<a asp-controller="Accounts" asp-action="SignIn" class="text-center">I already have a membership</a>
